body {
	background-image: url("../media/companion-cube.png"), url("../media/tile.png");
	background-repeat: no-repeat, repeat;
	background-size: 15%, auto;
	background-attachment: fixed;
	background-position: 95% 95%;
}

.selected-page {
	font-weight: bold;
	color: #fd6600;
	background-color: #0078ff;
}

.unselected-page {
	background-color: #fd6600;
	color: #0078ff;
}

.custom-toggler .navbar-toggler {
    border-color: #46A1D1;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(27.5, 63.1,82, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.card-title {
	text-align: center;
}

.songs-list {
	font-size: 90%;
}

.card {
	background-color: rgba(255, 226, 226,0.5);
	margin: 20px;
}